<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div style='width: 50%; margin: auto;'>

        <%- include('./components/_header') %>

        <section>
            <form action="/notes" method="post">
                <input type="hidden" name="id" id="id">

                <label for="title">Title</label><br>
                <input type="text" id='title' name='title'><br>

                <label for="description">Description</label><br>
                <textarea type="text" id='description' name='description' cols='20' rows='5'></textarea><br>

                <input type='submit' value='Submit'></input>
            </form>
            <hr>
        </section>
        <section>
            <h2>Liste des notes</h2>
            <% for(i=0;i<result.length;i++) { %>
                <h3><%= result[i].title %></h3>
                <p><%= result[i].description %></p>
                <input
                    type="button"
                    value="Delete"
                    onclick="deleteData('<%= result[i].id %>')"
                >
                <input 
                    type="button"
                    value="Edit"
                    onclick="fillData('<%= result[i].id %>', '<%= result[i].title %>', '<%= result[i].description %>')"
                >
            <% } %> 
        </section>
    </div>
</body>
<script>
    function fillData(id, title, description) {
        document.getElementById('id').value = id;
        document.getElementById('title').value = title;
        document.getElementById('description').value = description;
    }

    function deleteData(id) {
        let endPoint = 'notes/' + id
        fetch(endPoint, {method: 'DELETE'}
        ).then(
            (res) => res.json()
        ).then(
            (data) => window.location.href = data.routeRacine
        ).catch((err) => {
            console.log(err)
        })
    }
</script>
</html>